/* Css reset */
html,
body,
body * {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;

}


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}


/* body general styles */
body {
    background-color: #000;
    font-family: Verdana, sans-serif;
    text-align: center;
}

/* header styles  */
header {
    margin: 3em 2em;
}

header h1 {
    font-size: 3em;
    color: white;
    margin-bottom: 1em;
}

p>a {
    color: aquamarine;
    font-size: 18px;
}

header video {
    margin-top: 3em;
}

section {
    padding-bottom: 5em;
}

/* Sections styles */
section h2 {
    font-size: 2.5em;
    font-weight: 300;
    color: white;
    margin: 1em auto;
}

section h3 {
    color: gray;
    font-size: 1.5em;
    margin: 1.25em auto;
}

/* Footer */
footer {
    padding: 0 4em 2em 4em;
    text-align: right;
    color: gray;
    font-size: 1.5em;
}